body{
  /*background: ;*/
  font-family: sans-serif;
}
.form-box{
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-box-user{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
textarea,input[type="text"]{
  width: 100%;
}

input[type="text"]{
  margin-bottom: 10px;
}

.label-check{
  margin-left: 15px;
}

input[type="submit"]{
  margin-bottom: 15px;
}

.registration{
  margin-bottom:50px;
}

.assets{
  margin-top: 40px;
  margin-bottom: 40px;
}

.label-check{
 
  width: 80%;
  padding: 5px;
  color: white;
  font-size:18px;
  background-color:#fbb042;
  box-shadow: 7px 7px 14px 0px black;
  margin: 10px;
}

.brand{
  width: 100%;
  padding: 30px;
  margin-bottom: 5px;
  background-color: #fbb042;
  box-shadow: 0px 2px 4px 0px black;
}
i{
  margin-left: 10px;
}

.upper{
  text-transform: uppercase;
}

.logo{
  width: 128px;
  height: 128px;
}

.brand-logo{
  width: 100px;
  margin: 0 auto;
}

input[type="checkbox"]{
  
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  -webkit-appearance:none;
  outline: none;
  transition: .5s;
}

input[type="checkbox"]:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:2px solid white;
  box-sizing: border-box;
  transition: .5s;
}

input:checked[type="checkbox"]:before{

  border-left: none;
  border-top: none;
  width: 10px;
  border-color:white;
  transform: rotate(45deg) translate(5px, -10px);
}

label{
  
  font-family: sans-serif;
}
.ref{
  margin-top: 10px;
}

.footer{
  margin-top: 50px;
  color: #bdbec0;

}
.submit{
  width: 92%;
  background-color: #fbb042;
  margin-top: 40px;
  margin-left: 3px;
  box-shadow: 7px 7px 14px 0px black;
  color: white;
  font-size: 18px;


}
.corbg{
 background-color: #fbb042;
 color: white;
}
