body{
        /*background: ;*/
        font-family: sans-serif;
      }
      .form-box{
        width: 600px;
        margin: 0 auto;
        margin-top: 50px;
      }

      input[type=checkbox]{
        width:20px;
      }

      textarea,input[type="text"]{
        width: 100%;
      }

      input[type="text"]{
        margin-bottom: 10px;
      }

     
      input[type="submit"]{
        margin-bottom: 15px;
      }

      .registration{
        margin-bottom:50px;
      }

      .assets{
        margin-top: 40px;
      	margin-bottom: 40px;
      }

      .label-check{
        width: 100%;
        padding: 5px;
        color: white;
        font-size:18px;
        background-color:#fbb042;
        box-shadow: 7px 7px 14px 0px black;
      }

      .brand{
        width: 100%;
        padding: 30px;
        background-color: #fbb042;
        box-shadow: 0px 2px 4px 0px black;
      }
i{
  margin-left: 10px;
}

.upper{
  text-transform: uppercase;
}

.logo{
  width: 128px;
  height: 128px;
}

.brand-logo{
  width: 100px;
  margin: 0 auto;
}

#local,#remote,#need{
  display: none;
}


.button-principal{
  width: 100%;
}

.button-principal-submit{
  margin-top: 40px;
}


/*checkbox effect */

input[type="checkbox"]{
      
      position: relative;
      top: 4px;
      width: 20px;
      height: 20px;
      -webkit-appearance:none;
      outline: none;
      transition: .5s;
    }

    input[type="checkbox"]:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border:2px solid white;
      box-sizing: border-box;
      transition: .5s;
    }

    input:checked[type="checkbox"]:before{

      border-left: none;
      border-top: none;
      width: 10px;
      border-color:white;
      transform: rotate(45deg) translate(5px, -10px);
    }

    label{
      
      font-family: sans-serif;
    }
  .ref{
    margin-top: 10px;
  }

  .footer{
    margin-top: 50px;
    color: #bdbec0;

  }
